
.heart {
    margin-left: 5px;
}

.footer {
    font-size: 10px;
}

:global(.bluebox) {
    color: white;
    background-color: rgb(47, 127, 172);
    padding: 15px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.vitaItem {
    padding: 15px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    float: left;
}

:global(body, h1, h2, h3, h4, h5, li, li a) {
    font-family: 'Source Sans Pro', sans-serif;
}

.menu {
    list-style: none;
    float: right;
    li {
        float: left;
        margin-right: 15px;
        padding: 15px;
    }
}

:global(.spacetop) {
    padding-top: 30px;
}

:global(.spacebottom) {
    padding-bottom: 30px;
}

:global(.paddingleft) {
    padding-left: 15px;
}

:global(.paddingright) {
    padding-right: 15px;
}

:global(a) {
    text-decoration: none !important;
    color: rgb(47, 127, 172);
}

:global(.tiny) {
    text-transform: uppercase;
    font-size: 16px;
}

:global(.image) {
    h2, h3, h4, h5, p {
        color: white;
    }
}

:global(.backdrop) {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

:global(p) {
    font-weight: 100;
}

:global(ul) {
    padding-left: 0;
    list-style: none;
}

.center {
    text-align: center;
    float: left;
    width: 100%;
    min-height: 200px;
}

:global(.reference-item) {
    width: 100%;
    float: left;
    background-size: cover;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    max-height: 200px;
    position: relative;
    height: 250px;

    &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);

        h2 {
            opacity: 1;
        }
    }

    h2 {
        color: white;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        opacity: 0;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(47, 127, 172, 0.6);
        z-index: 1000;
        margin: 0;
        padding-top: 70px;
    }
}

:global(h4) {
    font-size: 1.3rem;
}

:global(.float) {
    float: left;
    width: 100%;
}

.icon {
    max-width: 35px;
}

.blacklink {
    color: black !important;
}

:global(.icon-wrapper) {
    margin-top: -10px;
    a {
        float: right;
    }
}

.underline {
    border-bottom: 2px solid #2f7fac;
}
